<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---->
    <title>{{constants.author}}'s Gallery</title>
    <!---->
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <!-- header -->
    <header class="header">
        <h1 class="title">{{constants.author}}'s Gallery</h1>
    </header>
    <!-- contents -->
    <div class="contents-container">
        <form class="references-container" method="get" action="/">
            <h2 class="title">Images</h2>
            {{#each constants.images}}
            <div class="reference-container">
                <input class="reference"        id="image-{{name}}" name="image" type="radio" value="{{value}}">
                <label class="reference-label" for="image-{{name}}">{{name}}</label>
            </div>
            <div class="spacer"></div>
            {{/each}}
            <button class="reference-load" type="submit">Load</button>
        </form>
        <div class="image-container">
            {{#with image}}
            <img class="image" src="{{path}}" alt="NO IMAGE!">
            <p   class="image-label">{{name}}</p>
            {{/with}}
        </div>
    </div>
</body>
</html>